
.my-bg-color {
    background-color: greenyellow;
}

.my-border-color {
    background-color: #332D2D;
}

.my-card-color {
    background-color: #332D2D;
}

main {
    margin-bottom: 5em;
}

table {
    margin-bottom: 0 !important;
}

img {
    height: 200px;
    width: 200px;
}