<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
    </head>
    
    <body class="my-bg-color">
        <header>
            <nav>
                {% block menu %} {% include 'menu.html' %} {% endblock menu %}
            </nav>
        </header>

    <main class="container">
        <br>
        <h2>
            Welcome {{user.first_name}} {{user.last_name}}
        </h2>
        <br>
        <div class="gallery">
            <div class="d-flex justify-content-between">
                <h2>Image Display</h2>
                <a href="/posts/new" class="btn btn-warning">(+) Create New</a> 
            </div>
            <div class="row">
                {% for post in posts %}
                <div class="image_card text-center col-md-3 card">
                    <p class="card-header">{{post.title}} </p>
                    <img src="{{ post.link }}" alt="Image" class="thumbnail img-responsive mx-auto card-body">
                    <div class="card-footer">
                        <a href="/posts/{{post.id}}">View</a>
                    {% if user.id == post.user.id: %}
                        | <a href="/posts/edit/{{post.id}}">Edit</a> | 
                        <a href="/posts/delete/{{post.id}}">Delete</a>
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <br>
        <!-- <div class="card bg-dark">
            <div class="card-header text-white d-flex justify-content-between">
                <h4>All Posts</h4>
                <a href="/posts/new" class="btn btn-warning">(+) Create New</a> 
            </div>
            <table class="table card-body table-striped table-hover">
                <tr>
                    <th>TITLE</th>
                    <th>Desc</th>
                    <th>Link</th>
                    <th>ACTIONS</th>
                </tr>
                {% for post in posts %}
                <tr>
                
                    <td>{{post.title}} <span class="badge badge-primary text-primary">New</span></td>
                    <td>
                        {{post.link}}
                    </td>
                    <td>{{post.user.first_name}}</td>
                    <td>
                        <a href="/posts/{{post.id}}">View</a> |

                        {% if user.id == post.user.id: %}
                        <a href="/posts/edit/{{post.id}}">Edit</a> | 
                        <a href="/posts/delete/{{post.id}}">Delete</a>
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="card-footer text-white">
            </div> -->
            
        </div>
    </main>

        <footer>
            {% block footer %} {% include 'footer.html' %} {% endblock footer %}
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>