<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Document</title>
    </head>
    
    <body class="my-bg-color">
        <header>
            <nav>
                {% block menu %} {% include 'menu.html' %} {% endblock menu %}
            </nav>
        </header>

        <main class="container">
            <br>
            <h2>ADD a New Post</h2>
            <br>
            <div class="card bg-dark">
                <div class="card-header text-white">
                    <h4>Enter All Information</h4>
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages: %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                </div>

                <div class="d-flex card-body bg-light">
                    <div class="flex-fill">
                    <table class="table container">
                        <form action="/posts" method="post">
                            <tr class="form-group">
                                <th><label for="title">Title:</label></th>
                                <td><input class="form-control" type="text" name="title"></td>
                            </tr>
                            <tr class="form-group">
                                <th><label for="Description">Description:</label></th>
                                <td><textarea class="form-control" rows="3" type="text"  name="description"></textarea></td>
                            </tr>
                            <tr class="form-group">
                                <th><label for="Link">URL link:</label></th>
                                <td><textarea class="form-control" rows="3" type="text"  name="link"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <input type="hidden" name="user_id" value="{{ user }}">
                                    <input type="submit" value="submit" class="btn btn-warning">
                                </td>
                            </tr>
                        </form>
                    </table>
                    </div>
                </div>
                <div class="p-3">
                </div>
            </div>
        </main>

        <footer>
            {% block footer %} {% include 'footer.html' %} {% endblock footer %}
        </footer>
        <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>